@model UserPreferencesModel

@{
	ViewData["Title"] = "Home Page";
}

<div style="display: flex; justify-content: center;">
	<form method="post" action="Home/Result"
		  style="max-width: 600px; width: 100%; border: gray solid 1px; border-radius: 10px; padding: 15px">
		<div class="mb-3">
			<label for="priceInput" class="form-label">Price</label>
			<input asp-for="Price" id="priceInput" class="form-control">
		</div>
		<div class="mb-3">
			<label for="romInput" class="form-label">RAM</label>
			<input asp-for="Rom" id="romInput" class="form-control">
		</div>
		<div class="mb-3">
			<label for="batteryInput" class="form-label">Battery</label>
			<input asp-for="Battery" id="batteryInput" class="form-control">
		</div>
		<div class="mb-3">
			<label for="cameraInput" class="form-label">Camera</label>
			<input asp-for="Camera" id="cameraInput" class="form-control">
		</div>
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>

